# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: build
on: [ push ]

jobs:

  build:
    strategy:
      matrix:
        # Use these Java versions
        java: [
            1.8,  # Minimum supported by Minecraft
            11,   # Current Java LTS
            15    # Latest version
        ]
        # and run on both Linux and Windows
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: init submodule
        run: git submodule update --init --recursive
      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: build
        run: ./gradlew build
      - name: capture build artifacts
        if: ${{ runner.os == 'Linux' && matrix.java == '11' }} # Only upload artifacts built from LTS java on one OS
        uses: actions/upload-artifact@v2
        with:
          name: Artifacts
          path: build/libs/


  # 构建成功后发送消息
  sendMsgForSuccessed:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Send status to Discord
        uses: MysteriousStudio/actions-discord-webhook@master
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK_URL }} # required
          status: ${{ job.status }} # optional, this is the default
        if: always() # or failure() or success()